# Registry URL for npm packages (default is https://registry.npmjs.org/)
registry=https://registry.npmjs.org/

# Authentication token for a specific registry (in this case, GitHub Packages)
@ethan-johnson17:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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

# Specify the directory for global npm packages (global packages are installed here)
prefix=/usr/local